In [3]:
import pandas as pd
import joblib
import json
import xgboost as xgb

In [4]:
Features = {
    "model_key": "Volkswagen",  
    "mileage": 17500,  
    "engine_power": 190,  
    "fuel": "diesel",  
    "paint_color": "black",  
    "car_type": "sedan",  
    "private_parking_available": True,  
    "has_gps": True,  
    "has_air_conditioning": True,  
    "automatic_car": True,  
    "has_getaround_connect": True,  
    "has_speed_regulator": True,  
    "winter_tires": True
}
    
df = pd.DataFrame(dict(Features), index=[0])

In [5]:
df

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires
0,Volkswagen,17500,190,diesel,black,sedan,True,True,True,True,True,True,True

In [8]:
# Load the model & preprocessing from local
preprocess = joblib.load('prepro.joblib')
regressor = joblib.load("finalmodel.joblib")

In [9]:
# preparing labels that will be replaced as other
list_model_other = ['Maserati', 'Suzuki', 'Porsche', 'Ford',
                    'KIA Motors', 'Alfa Romeo', 'Fiat',
                    'Lexus', 'Lamborghini', 'Mini', 'Mazda',
                    'Honda', 'Yamaha', 'Other']

list_fuel_other = ['hybrid_petrol', 'electro', 'other']

list_color_other = ['green', 'orange', 'other']

df['model_key'] = df['model_key'].apply(lambda x: "others" if x in list_model_other else x)
df['fuel'] = df['fuel'].apply(lambda x: "others" if x in list_fuel_other else x)
df['paint_color'] = df['paint_color'].apply(lambda x: "others" if x in list_color_other else x)

In [9]:
df

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires
0,Volkswagen,17500,190,diesel,black,sedan,True,True,True,True,True,True,True

In [7]:
df.iloc[0,:]

model_key                    Volkswagen
mileage                           17500
engine_power                        190
fuel                             diesel
paint_color                       black
car_type                          sedan
private_parking_available          True
has_gps                            True
has_air_conditioning               True
automatic_car                      True
has_getaround_connect              True
has_speed_regulator                True
winter_tires                       True
Name: 0, dtype: object

In [16]:
df.head(1)

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires
0,Volkswagen,17500,190,diesel,black,sedan,True,True,True,True,True,True,True

In [13]:
X_val = preprocess.transform(df.head(16))

In [14]:
X_val

<1x41 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [10]:
X_val = preprocess.transform(df.head(16))
Y_pred = regressor.predict(X_val)
print(Y_pred)
response = {'Predicted rental price per day in dollars': round(Y_pred.tolist()[0], 1)}

[188.43736]